.purr {
	position: fixed;
	width: 324px;
	top: 20px;
	right: 15px;
	padding: 20px;
	background-color: #000000;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
}
.purr:hover .close	{
	position: absolute;
	top: 5px;
	right: 3px;
	display: block;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	/* background: url("/images/close-button.gif") no-repeat; */
}