%div.spinner
  %div.sk-fading-circle
    %div.sk-circle1.sk-circle
    %div.sk-circle2.sk-circle
    %div.sk-circle3.sk-circle
    %div.sk-circle4.sk-circle
    %div.sk-circle5.sk-circle
    %div.sk-circle6.sk-circle
    %div.sk-circle7.sk-circle
    %div.sk-circle8.sk-circle
    %div.sk-circle9.sk-circle
    %div.sk-circle10.sk-circle
    %div.sk-circle11.sk-circle
    %div.sk-circle12.sk-circle
    %br
    %br
    %span.spinner_text
