#pager.pager
	%form
		%span.first
			%b First
		%span.prev <<
		%span.pagedisplay
		%span.next >>
		%span.last
			%b Last
		%select.pagesize
			%option{ :value => "10"} 10
			%option{ :value => "50"} 50
			%option{ :value => "100"} 100
			%option{ :value => "500"} 500
